{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/kartavyam_logo.png' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block navbar_css %} {% endblock %}
    <title> Kartavyam </title>
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {{ redirect_to_login_immediately }}

    {% include 'navbar.html' %}

    {% block content %} 

    {% endblock %}

    {% include 'footer.html' %}
    <script type="text/javascript" src="{% static 'scripts/script.js' %}"></script>
  </body>
</html>