{% extends 'main.html' %}

{% load static %}

{% block body_class %}{% endblock %}


{% block content %}
<div class="approve-container">
    <h3 class="approve-heading">Please confirm if you want to approve this complaint?</h3>
    <p class="approve-note">Note: This complaint reached you because our AI models could not gauge the safety of this complaint.</p>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="approve-button-container">
            <input type="submit" value="Confirm" class="approve-confirm-button">
            <a href="{{request.META.HTTP_REFERER}}" class="approve-back-link">Go Back</a>
        </div>
    </form>
</div>

{% endblock content %}